.page-header {
	margin: 18px 0;
    padding: 48px 0px 0px 0px;
    border-bottom: 1px solid #387038;
}

h1, h2 {
	font-family: "Comfortaa";
	color: #b7087f;
}

h3, h4 {
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 18px;
}

h1{
	font-size: 37px;
	line-height: normal;
}

h2{
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
}

h3 {
	font-weight: bold;
}

h4 {
	text-decoration: underline;
}

body{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.views-label{
	line-height: 30px;
}

.enabler-list .dropdown{
	padding: 20px 0px 15px 0px;
	border-bottom: 1px solid #387038;
	margin-bottom: 15px;
}

.enabler-list .enabler-row{
	display: block;
	border-bottom: 1px solid #387038;
	margin-bottom: 15px;
}

.enabler-list .enabler-row .header{
	margin-top: 10px;
	margin-bottom: 10px;
}

.enabler-list .enabler-row .category{
	font-size: 10px;
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

ul.nav-docs-header
{
	height:36px;
	margin:18px 0;
	padding: 0;
	list-style-type: none;
/* 	text-align: center; */
}

ul.nav-docs-header li
{ 
	display: inline;
	padding: 0px;
	margin: 0px;
}

ul.nav-docs-header li a
{
	float: left;
	padding: 0px 14px;
	margin: 0px;
	line-height: 34px;
	text-decoration: none;
	border-width: 1px;
	border-left: 0px;
	border-style: solid;
	border-color: #387038;
/*	border-radius:3px 0 0 3px
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
    -webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;*/
	border-image: none;
/* 	padding: .2em 1em; */
/* 	background-color: #036; */
}

ul.nav-docs-header li a:hover
{
	color: #ffffff;
	background-color: #b70880;
}

ul.nav-docs-header li:first-child a
{ 
	border-left: 1px solid #387038;
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px; 
} 

ul.nav-docs-header li:last-child a
{ 
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px; 
}

.center-wrapper{
	display: block;
}

.center-left-wrapper{
	overflow: hidden;
	float: left;
	width: 214px;
	margin: 0px 30px 0px 0px;
	min-height: 400px;
}

.left-info-block{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #FFF;
	border: 1px solid #387038;
	border-radius: 6px;
	padding: 10px 5px;
	margin-bottom: 30px;
}

.center-right-wrapper{
	overflow: hidden;
	margin: 0px 0.5em 1em;
	min-height: 400px;
}

.right-content-block{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #FFF;
	padding: 10px 5px;
	margin-bottom: 30px;
}

.footer{
	display: block;
	box-sizing: border-box;
	border-top: 1px solid #387038;
	margin-right: auto;
	margin-left: auto;
}

/*These are custom styles*/
.breadcrumb {
	padding: 7px 14px;
	margin: 0 0 18px;
	list-style: none;
	background-color: rgb(251, 251, 251);
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(rgb(245, 245, 245)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(245, 245, 245));
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	background-repeat: repeat-x;
	border: 1px solid rgb(221, 221, 221);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);

}

.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}
/* Hide special settings of the cookie consent thingy */
#cc-notification-moreinfo {
  display: none;
}