html {
    font-size: 90%;
}

body { font-family: Arial, Sans-Serif; color: #222222; }



a	 { color: #b7087f; font-family: Arial, Sans-Serif; text-decoration: none; }
a:selected { color: #792e93; font-family: Arial, Sans-Serif;  text-decoration: none; }
a:hover { color: #792e93; font-family: Arial, Sans-Serif;   text-decoration: none; }


.Headline	{ color: #b7087f; font-weight: bold; font-family: Arial, Sans-Serif; text-decoration: none; font-size: 1.3em; }
.Headline:hover	{ color: #792e93; font-weight: bold; font-family: Arial, Sans-Serif;  text-decoration: none;  font-size: 1.3em;  }

table.themed td, table.themed th {margin-left: auto; margin-right: auto; padding: 8 10 8 10; background-color: rgb(218, 228, 232); border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none;}
table.themed td.left { padding: 8 10 8 10; background-color: rgb(183, 8, 128); color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); font-weight: bold; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none}
table.themed tr.category{
	border-top: 1px solid;
	border-color: rgb(255, 255, 255);
}
table.themed tr.top th{
	border-bottom: 2px solid;
	border-color: rgb(183, 8, 128);
}